/* * //////////////// LandingPage ////////////////*/

#dark a .startButton{
  background-color: hsl(207, 26%, 17%);
  color: antiquewhite;
  border: antiquewhite solid 1.618034px;
  transition: all 0.5s ease;
}

#dark a .startButton:hover{
  background-color:  hsl(209, 23%, 22%);
}

#light a .startButton{
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);
  border: hsl(200, 15%, 8%) solid 1.618034px;
}

.startButton{
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 120px;
  border-radius: 5px;
  opacity: 0;
  animation: button 3s ease 5s 1 normal forwards;
}

.startButton:hover{
  color: aqua;
}

.landingDiv .ticket{
  display: flex;
  height: 13vw;
  width: 13vw;
  position: absolute;
  bottom: 25px;
  right: 25px;
  animation: myAnim 2s ease 3s infinite normal forwards;
}

.landingDiv .ticket :hover{
  height: 14vw;
  width: 14vw;
  animation: 2s duration ease;
}



@media screen and (max-width: 600px) {
  .landingDiv .ticket{
    height: 20vw;
    width: 20vw;
  }
}

/* * Shake Bottom Animation */

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@keyframes button {
	0% {
    opacity: 0;
	}
  
	100% {
    opacity: 1;
    cursor: pointer;
  }
	}