/* ? //////////////// Navbar ////////////////*/

nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0 12vw 0 12vw;
}


#dark nav, #dark .sun{
  background-color: hsl(209, 23%, 22%);
  color: antiquewhite;
}

#light nav, #light .moon{
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}

.sun, .moon{
  display: flex;
  width: 40px;
  cursor: pointer;
}

