/* * //////////////// Navbar ////////////////*/

nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0 12vw 0 12vw;
}


#dark nav, #dark .sun{
  background-color: hsl(209, 23%, 22%);
  color: antiquewhite;
}

#light nav, #light .moon{
  background-color: hsl(0, 0%, 100%);
  color: hsl(200, 15%, 8%);
}


.sun, .moon{
  display: flex;
  cursor: pointer;
  gap: 5px;
}

.sun svg, .moon svg{
  width: 40px;
}

.sun span, .moon span{
  display: flex;
  align-items: center;
  font-weight:  bolder;
  letter-spacing: 1.618034px;
}


.fade-in{
  animation: fadeIn 1.618034s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media screen and (max-width: 600px) {
  .sun span, .moon span{
    display: none;
  }

  .sun svg, .moon svg{
    width: 35px;
  }
}